@import url('bootstrap/dist/css/bootstrap.min.css');
@import url(../public/style/homepage.css);
@import url(../public/style/show-result.css);
@import url(../public/style/savedWallets.css);
@import url(../public/style/pump.css);


.btn-play {
  cursor: pointer;
  background-repeat: no-repeat;
  opacity: 0.85;
  width: 60px;
  height: 60px;
  color: white;
  position: fixed; 
  bottom: 15px;
  right: 15px;
}
